@import 'variables';

* {
    transition: background-color, color, ease-out .2s;
}

body {
    margin: 0;
}

.App {

    &.light {
        background-color: $color-tl-background;
    }
    &.dark {
        background-color: $color-td-background;
    }

    .Body {
        @include full_container_style;

        article {
            padding: $articles_padding;
            margin: $articles_margin;
            border-radius: 15px;
            
            &.light {
                background-color: $color-tl-background;
                border-left: 2px solid $color-tl-primary;
                border-top: 1px solid $color-tl-primary;
                border-right: 1px solid $color-tl-primary;
                border-bottom: 2px solid $color-tl-primary;
            }
            &.dark {
                background-color: $color-td-background;
                border-left: 2px solid $color-td-primary;
                border-top: 1px solid $color-td-primary;
                border-right: 1px solid $color-td-primary;
                border-bottom: 2px solid $color-td-primary;
            }
        }
        h3 {
            @include titleH2;
        }
    }
}

