@import 'variables';

* {
    transition: background-color, color, ease-out .2s;
}

body {
    margin: 0;
}

.App {

    &.light {
        background-color: $color-tl-background;
    }
    &.dark {
        background-color: $color-td-background;
    }

    .Body {
        @include full_container_style;

        article {
            padding: $articles_padding;
            margin: $articles_margin;
            border-radius: 15px;
            
            &.light {
                background-color: $color-tl-background;
                border-left: 2px solid $color-tl-primary;
                border-top: 1px solid $color-tl-primary;
                border-right: 1px solid $color-tl-primary;
                border-bottom: 2px solid $color-tl-primary;
            }
            &.dark {
                background-color: $color-td-background;
                border-left: 2px solid $color-td-primary;
                border-top: 1px solid $color-td-primary;
                border-right: 1px solid $color-td-primary;
                border-bottom: 2px solid $color-td-primary;
            }
        }
        h3 {
            @include titleH2;
        }
    }

    .FixedPanel {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10%;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin: 4px 0;
            background-image: linear-gradient(90deg, $color-tl-secondary, $color-tl-primary);
            border: none;
            border-radius: 0 8px 8px 0;
            transition: all ease .2s;
            cursor: pointer;

            &:hover {
                filter: brightness(1.2);
            }
            &.active {
                width: 48px;
                padding-right: 8px;
                border-left: 8px solid $color-tl-primary;
            }

            svg {
                width: 30px;
                height: 30px;
                padding: 0;
                margin: 0;
                opacity: .9;
            }
        }
    }
}

