
//colors
$color-text-primary: #222222;
$color-text-secondary: #707070;
$color-text-terciary: #dfdfdf;
$color-theme-primary: #112c83;
$color-theme-secondary: #7696ff;

//containers sizes
$full_container_xxsm_width: 640px !default;
$full_container_xsm_width: 768px !default;
$full_container_sm_width: 1024px !default;
$full_container_lg_width: 1280px !default;

$full_container_padding_sm: 12px !default;
$full_container_padding_md: 24px !default;
$full_container_padding_lg: 32px !default;

@mixin full_container_style {
    & {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: $full_container_padding_sm;
        padding-left: $full_container_padding_sm;
        
        @media screen and (min-width: $full_container_xsm_width) {
            max-width: $full_container_xsm_width;
            padding: 0 $full_container_padding_md !important;
        }
        @media screen and (min-width: $full_container_sm_width) {
            max-width: $full_container_sm_width;
            padding: 0 $full_container_padding_md !important;
        }
        @media screen and (min-width: $full_container_lg_width) {
            max-width: $full_container_lg_width;
            padding: 0 $full_container_padding_lg !important;
        }
    }
}

//containers spacements
$articles_vertical_padding: 60px 0;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

@mixin titleH1 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        line-height: 32px;
        color: $color-text-primary;

        margin: 0;
    }
}
@mixin titleH2 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 1.85px;
        color: $color-text-primary;

        margin: 0;
    }
}
@mixin titleH3 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 22px;
        color: $color-text-primary;

        margin: 1rem 0;
    }
}
@mixin paragraph {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        color: $color-text-primary;
        margin: 2px 0;
    }
}
@mixin span {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        color: $color-text-secondary;
        margin: 2px 0;
    }
}