
//colors Light Theme
$color-tl-text-primary: #222222;
$color-tl-text-secondary: #707070;
$color-tl-text-terciary: #ffffff;
$color-tl-primary: #1f96ff;
$color-tl-secondary: #135899;
$color-tl-background: #1f97ff0e;

//colors Dark Theme
$color-td-text-primary: red;
$color-td-text-secondary: red;
$color-td-text-terciary: red;
$color-td-primary: red;
$color-td-secondary: red;
$color-td-background: red;

//containers sizes
$full_container_xxsm_width: 640px !default;
$full_container_xsm_width: 768px !default;
$full_container_sm_width: 1024px !default;
$full_container_lg_width: 1280px !default;

$full_container_padding_sm: 12px !default;
$full_container_padding_md: 24px !default;
$full_container_padding_lg: 32px !default;

@mixin full_container_style {
    & {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: $full_container_padding_sm;
        padding-left: $full_container_padding_sm;
        
        @media screen and (min-width: $full_container_xsm_width) {
            max-width: $full_container_xsm_width;
            padding: 0 $full_container_padding_md !important;
        }
        @media screen and (min-width: $full_container_sm_width) {
            max-width: $full_container_sm_width;
            padding: 0 $full_container_padding_md !important;
        }
        @media screen and (min-width: $full_container_lg_width) {
            max-width: $full_container_lg_width;
            padding: 0 $full_container_padding_lg !important;
        }
    }
}

//containers spacements
$articles_padding: 32px;
$articles_margin: 60px 0;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

@mixin titleH1 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        line-height: 32px;
        &.light {color: $color-tl-text-primary;}
        &.dark {color: $color-td-text-primary;}
        

        margin: 0;
    }
}
@mixin titleH2 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 1.85px;
        &.light {color: $color-tl-text-primary;}
        &.dark {color: $color-td-text-primary;}

        margin: 0;
    }
}
@mixin titleH3 {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 22px;
        &.light {color: $color-tl-text-primary;}
        &.dark {color: $color-td-text-primary;}

        margin: 1rem 0;
    }
}
@mixin paragraph {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        &.light {color: $color-tl-text-primary;}
        &.dark {color: $color-td-text-primary;}
        margin: 2px 0;
    }
}
@mixin span {
    & {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        &.light {color: $color-tl-text-secondary;}
        &.dark {color: $color-td-text-secondary;}
        margin: 2px 0;
    }
}