.Perfil h1 {
    @include titleH1;
}
.Perfil h2 {
    @include titleH2;
}
.Perfil h3 {
    @include titleH3;
}

.Perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 12px;
    padding: 60px 32px;

    .Imagem {
        position: relative;
        display: flex;
        justify-content: center;
        padding-right: 10rem;
        margin-right: -10rem;

        @media screen and (max-width: $full_container_sm_width) {
            padding-right: 100px;
            margin-right: -100px;
        }
        
        & > img {
            border-radius: 50%;
            width: 160px;
            aspect-ratio: 1/1;
            z-index: 10;
        }

        .Linkedin,
        .GitHub,
        .Instagram,
        .WhatsApp {
            position: absolute;
            opacity: 0;
            transition: all ease .3s;

            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 20px;
            &.light {color: $color-tl-text-terciary;}
            &.dark {color: $color-td-text-terciary;}

            svg {
                width: 28px;
                height: 28px;
                margin-right: 8px;
            }

            &.light { svg {fill: $color-tl-text-terciary;} }
            &.dark { svg {fill: $color-td-text-terciary;} }
        }

        .Linkedin {top: 8px; left: 0;}
        .GitHub {top: 44px; left: 0;}
        .Instagram {top: 76px; left: 0;}
        .WhatsApp {top: 112px; left: 0;}

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 160px;
            height: 160px;
            opacity: 0;
            border-radius: 150px;
            transition: all ease .2s;
        }
        &.light::before {background-image: linear-gradient(90deg, $color-tl-secondary, $color-tl-primary);}
        &.dark::before {background-image: linear-gradient(90deg, $color-td-secondary, $color-td-primary);}

        &:hover {

            @media screen and (max-width: $full_container_sm_width) {
                margin-right: 60px;
            }

            &::before {
                opacity: 1;
                width: 320px;
            }
            
            .Linkedin, .WhatsApp {
                opacity: 1;
                margin-left: 4.5rem;
            }
            .GitHub, .Instagram {
                opacity: 1;
                margin-left: 5.5rem;
            }
        }
        
        .ControlRedes {
            position: absolute;
            display: flex;
            flex-direction: column;
            margin-top: 6px;
            transition: all ease .3s;
    
            .ControlRede {
                display: flex;
                justify-content: end;
                align-items: center;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                img {
                    display: flex;
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    .Dados {
        h1,h2,h3 {
            text-align: center;
        }
        h1 { @include titleH1}
        h2 { @include titleH2}
        h3 { @include titleH3}

        .Redes {
            display: flex;
            justify-content: center;
        }
    }
}

